* {
    background: lightgrey;
}

body {
    color: #272341;
}

*:focus {
    outline: none;
}

h1 {
    margin-top: 5%;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

.add_list {
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    margin-left: 50% auto;
}

.form-control {
    margin: auto;
}

.add_list form {
    margin: 0px 70px 5px 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.item {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2.5px solid #272341;
    padding: 0px 30px;
}

.add_list button {
    background-color: transparent;
    font-size: 30px;
    line-height: 30px;
    line-height: 60px;
    margin-left: 5px;
    color: #272341;
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo_list {
    text-align: center;
    font-size: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    align-items: center;
    background-color: beige;
    margin-top: 30px;
    margin-left: 37%;
    width: 400px;
}